{% extends "padre.html" %}

{%  load static %}

{% block contenido %}

<h1>ACERCA DE MI</h1>
<p>-Python/Django-</p>
<p>Alumno: Giancarlo Oblitas </p>
<p>En la Footer vincule "About" y "Messages", con su respectiva pagina.</p>
<p>Para acceder a las "Pages" y a las otras funciones de la "Nav", es necesario loguearse. </p>
<p>El "Leer mas" lo introduje dentro de las pages.</p>
<p>Para buscar una page, cree un buscador </p>
<p>Como items extra, en los iconos de la Footer vincule las redes sociales (Meta, Twitter, Instagram)</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium porro autem molestiae atque recusandae, aut a consequatur sed quam distinctio ex sint similique dolores adipisci explicabo odit natus quidem veniam.</p>
<p>NOTA: El TP, se realizo sobre ultimo realizado en clase.</p>
<p>En el "Admin" el usuario es: torreblancamd y la contraseña es: codercoder</p>
<p>Un subusuario es: Pepe contraseña: codercoder22</p>
<p>Saludos Maxi, muchas gracias :D.</p>
<h2>Espero que funcione</h2>

{% endblock %}