{% extends "padre.html" %}

{%  load static %}


{% block contenido %}

<main>
    <ul>
        <li>PROFE 1:</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reprehenderit id amet, libero odit praesentium sunt, quis illo labore ullam, laudantium excepturi consequuntur omnis? Nesciunt sapiente corporis in dolorem aliquam?</p>
        <li>PROFE 2:</li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum eaque voluptas assumenda, laboriosam earum, itaque officia veritatis eos consequuntur quod, incidunt dolorem labore reprehenderit iure distinctio hic velit nesciunt magnam?</p>
        <li>PROFE 3:</li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem iusto provident ea. Laborum aliquam a officiis architecto neque beatae aperiam porro excepturi, modi hic maiores voluptates quae adipisci repellat delectus?</p>
        <li>PROFE 4:</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum. Beatae doloribus accusamus, illo distinctio voluptatum commodi dolorum quia cum inventore consectetur facilis quod magnam ad quidem aperiam saepe quaerat!</p>
        <li>PROFE 5:</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quaerat quos? Dolores, commodi atque dicta quidem accusantium quis minima, rem unde libero officia nobis. Sapiente earum architecto facere id perferendis.</p>
    </ul>


</main>


{% endblock %}